.br-menu .menu-panel, .br-menu {
  background: none;
  border: none;
  box-shadow: none;
}

.nivel-menu a.menu-item {
  padding-left: 1rem !important;
  color: var(--foreground);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-left: 0px solid transparent;
  transition: all 0.2s ease-in-out;
}

.nivel-menu a.menu-item:hover {
  background-color: #30363d;
  color: #58a6ff;
  border-left: 3px solid var(--gov-azul);
}

.nivel-menu ul {
  padding-left: 16px !important;
  border-left: 1px solid #30363d;
  margin-left: 1rem;
}

.nivel-menu {
  background-color: transparent !important;
}

.nivel-menu.ativo {
  background-color: #01040920;
}

.nivel-menu .menu-item .icon {
  margin-left: auto;
  margin-right: 4px;
}

.nivel-menu .menu-item.bold {
  font-weight: bold;
}